*{
    transition: all 0.2s;
}

.dark-theme{
    --bg-color: rgb(40, 35, 45);
    --font-color: rgb(107, 122, 155);
    --prim-bg: rgb(59, 49, 67);
    --sec-bg: rgb(28, 28, 35);
}

body {
    --bg-color: rgb(232, 236, 224);
    --font-color: rgb(25, 26, 28);
    --prim-bg: rgb(178, 172, 152);
    --sec-bg: rgb(217, 214, 195);

    text-align: center;
    color: var(--font-color);
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    margin: 0rem;
}

nav{
    background-color: var(--prim-bg);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.toggle-dark{
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    font-size: 2rem;
}

h1 {
    text-shadow: 0 0 1px black;
    color: var(--font-color);
    font-size: 2.5rem;
    margin: 0rem auto;
}

.container {
    border-radius: 1rem;
    background-color: var(--prim-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    max-width: 20rem;
    padding: 2rem;
    gap: 0.4rem;
    margin: 2rem auto 0rem auto;
    box-shadow: rgba(24, 24, 32, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.display{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.output-cont{
    background-color: var(--bg-color);
    width: 100%;
    max-width: 12rem;
    min-height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    font-weight: 400;
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.output-cont::-webkit-scrollbar {
    display: none;
}


#clear-button{
    margin-left: auto;
}

.row{
    display: flex;
    gap: 0.4rem;
}
#output-box {
    color: black;
    font-weight: bold;
    font-size: large;
    overflow-wrap: break-word;
}

button {
    border: none;
    padding: 1.5rem;
    border-radius: 20rem;
    background-color: var(--sec-bg);
    color: var(--font-color);
    width: 20%;
    min-width: 4rem;
}

button:hover{
    background-color: var(--bg-color);
}