body {
    text-align: center;
    color: white;
    background-color: color-mix(in srgb-linear, blue 20%, white 10%);
}

h1 {
    text-shadow: 0 0 1px black;
    color: rgb(155, 107, 150);
}

.container {

    width: 325px;
    height: 600px;
    margin: 0px auto;
    border: 4px double  rgb(204, 177, 143);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(253, 251, 254,255);
}

#output-box {
    margin: 2px 5px 30px 0px;
    height: 50px;
    width: 220px;
    padding-top: 10px;
    border: 2px solid lightslategray;
    background-color: white;
    overflow-y: scroll;
    color: black;
    font-weight: bold;
    font-size: large;
    overflow-wrap: break-word;
}

button {
    border-radius: 30px;
    width: 65px;
    height: 60px;
    margin: 4px 2px;
    font-size: large;
    font-weight: bold;
    border:none;
}

.display {
    display: inline-flex;
    margin: 30px auto 5px;
}

#parentheses {

    background-color: rgba(220, 226, 250,255);
    /* border: 2px solid rgb(78, 168, 45); */
}

#back-button {
    background-color: rgba(220, 226, 250, 255);
    /* border: 2px solid rgb(78, 168, 45); */
}

#numbers {
    background-color: rgba(242, 240,244,255);
    /* border: 2px solid rgb(246, 47, 2); */
}

#numbers0 {
    background-color: rgba(242, 240, 244, 255);
    /* border: 2px solid rgb(246, 47, 2); */
}

#point {
    background-color: rgba(242, 240, 244, 255);
    /* border: 2px solid rgb(246, 47, 2); */
}

#operator-button {
    background-color: rgba(220, 226, 250, 255);
    /* border: 2px solid rgb(78, 168, 45); */
}

#equalto {
    background-color: rgba(70,93,145,255);
    /* border: 2px solid #daa520; */
}

#equalto:hover {
    background-color: rgba(209, 212, 229, 255)
}

#operator-button:hover {
    background-color: rgba(191, 197, 219,255);
}

#point:hover {
    background-color:rgba(227, 226, 230, 255);
}

#numbers0:hover {
    background-color: rgba(227, 226, 230, 255);
}

#numbers:hover {
    background-color:rgba(227, 226, 230, 255);
}

#back-button:hover {
    background-color: rgba(191, 197, 219, 255);
}

#parentheses:hover {
    background-color: rgba(191, 197, 219, 255);
}

#clear-button {
    /* border: 2px solid rgba(117, 184, 243, 0.546); */
    background-color: rgba(117, 184, 243, 0.546);
}

#clear-button:hover {
    background-color: rgba(88, 153, 210, 0.718);
}