body{
    text-align: center;
    color:white;
    background-color:color-mix(in srgb-linear, blue 20%, white  10%);
}
h1{
    text-shadow: 0 0 1px  black;
    color:rgb(155, 107, 150);
}

.container{

   width: 300px;
   height: 500px;
   margin:0px  auto;
    border: 4px dotted rgb(219, 146, 56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:beige;
}

#output-box{
    margin: 2px 0px 30px 0px;
    height:40px;
    width:200px;
    padding-top: 10px;
    border:2px solid lightslategray;
    background-color:rgb(226, 219, 219);
    overflow-y:scroll;
    color:black;
    font-weight: bold;
    font-size: large;
    overflow-wrap:break-word;
}

button{
    width:60px;
    height:50px;
    margin:4px 2px;
    font-size: large;
    font-weight: bold;
}
.display{
    display:inline-flex;
    margin: 30px auto 5px;
}
#parentheses{
    background-color: aqua;
    border:2px solid rgb(28, 123, 163);
}
#back-button{
    background-color:red;
    border:2px solid rgb(155, 10, 10);
}
#numbers{
    background-color: rgb(199, 103, 34);
    border:2px solid rgb(246, 47, 2);
}
#numbers0{
    background-color: aquamarine;
    border:2px solid rgb(17, 215, 149);
}
#point{
    background-color:rgb(50,134,207);
    border:2px solid rgb(77, 119, 156);
}
#operator-button{
    background-color: rgb(49, 209, 31);
    border: 2px solid rgb(78, 168, 45);
}
#equalto{
    background-color:gold;
    border:2px solid #daa520;
}

#equalto:hover{
    background-color:#daa520 ;
}
#operator-button:hover{
    background-color:rgb(78, 168, 45) ;
}
#point:hover{
    background-color: rgb(77, 119, 156);
}
#numbers0:hover{
    background-color: rgb(17, 215, 149);
}
#numbers:hover{
    background-color: rgb(246, 47, 2);
}
#back-button:hover{
    background-color: rgb(155, 10, 10);
}
#parentheses:hover{
    background-color: rgb(28, 123, 163);
}

#clear-button{
   border:2px solid rgba(117, 184, 243, 0.546);
    background-color: rgba(117, 184, 243, 0.546);
}

#clear-button:hover{
    background-color:rgba(88, 153, 210, 0.718) ;
}